/* Couleurs :

white : #ffffff
black : #000000
orange : #E87E04
yellow : #F9BF3B
green : #00B16A
light blue : #6BB9F0
blue : #3A539B
purple : #913D88
pink : #DB0A5B

Polices :




*/


/* PROPRIETES GENERALES */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, header, #gameBoard, #restartGame{
	display: flex;
	justify-content: center;
	align-items: center;
}

body, header, #restartGame, #restartGamePanel{
	flex-direction: column;
}

body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

h1, h2{
	font-family: 'Acme', sans-serif;
	font-size: 2rem;
	margin: 2rem;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	margin : 1rem;
}

.hidden {
	display : none;
}

#nbMoves{
	color:#3A539B;
}

#gameBoard{
	flex-direction: row;
	width: 750px;
	height: 460px;
	padding: 0;
	position: relative;
}

#restartGame, #newGame, #continueGame{
	cursor: pointer;
}

#restartGamePanel, #congratulationPanel{
	position: absolute;
	z-index: 20;
	width: 100%;
	background-color: #ffffff;
}

.tower{
	cursor: pointer;
	min-width: 115px;
	min-height: 117px;
	width: 33%;
	border-bottom: 5px solid #000000;
	border-radius: 7px;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-left: 5%;
	margin-right: 5%;
}


.tower:before{
	width: 4px;
 	height: 116px;
 	content: '';
 	display: block;
 	background: #000000;
 	position: absolute;
 	bottom: -2px;
	left: calc(50% - 2px);
 	z-index: 10;
 	border-radius: 30px;
}



.disk {
  list-style: none;
  height: 15px;
  display: block;
  border-radius: 5px;
  font-size: 0;
  z-index: 20;
}

.disk1 {
  width: 17.5px;
  background-color: #DB0A5B;
}

.disk2 {
  width: 35px;
  background-color: #913D88;
}

.disk3 {
  width: 52.5px;
  background-color: #3A539B;
}

.disk4 {
  width: 70px;
  background-color: #6BB9F0;
}

.disk5 {
  width: 87.5px;
  background-color: #00B16A;
}

.disk6 {
  width: 105px;
  background-color: #F9BF3B;
}

.disk7 {
  width: 122.5px;
  background-color: #E87E04;
}

.disk.selected {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
